.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  min-height: 100vh;
  margin-left: 264px;
}

@media (max-width: 860px) {
  .app-layout {
    display: block;
  }

  .main-content {
    margin-left: 0;
  }
}
